<main>
    <section class="py-5 text-center container">
        <!-- <div class="row py-lg-5"> -->
        <div class="col-lg-8 mx-auto">
            <h1 class="fw-light">Log a new Outdoor Climbing Session</h1>

            <%= form_with(model: @log_climb, url: log_outdoor_climb_path(@log_climb), method: :patch, class: "mt-4") do |f| %>
                <div class="mb-3">
                    <%= f.label :date, 'When did you go climbing?', class: "form-label" %>
                    <%= f.date_field :date, class: "form-control" %>
                </div>

                <div class="mb-3">
                    <%= f.label :climbing_type, 'Select Climbing Style', class: "form-label" %>
                    <%= f.select :climbing_type, ['Sport', 'Trad', 'Bouldering'], {}, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :location, 'Where did you go climbing?', class: "form-label" %>
                    <%= f.text_field :location, class: "form-control" %>
                </div>

                <br>

                <div class="individual_outdoor_climbs">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Climb Name</th>
                                <th>Grade</th>
                                <th>Climbing Style</th>
                                <th>Climbing Partner</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%= f.fields_for :individual_outdoor_climbs do |individual_outdoor_climb| %>
                                <tr class="nested-fields">
                                    <td><%= individual_outdoor_climb.text_field :climb_name, class: "form-control" %></td>
                                    <td><%= individual_outdoor_climb.text_field :grade, class: "form-control" %></td>
                                    <td><%= individual_outdoor_climb.text_field :climbing_style, class: "form-control" %></td>
                                    <td><%= individual_outdoor_climb.text_field :climbing_partner, class: "form-control" %></td>
                                    <td><%= individual_outdoor_climb.text_field :notes, class: "form-control" %></td>
                                    <td><%= link_to_remove_association "Delete", individual_outdoor_climb, class: "btn btn-danger btn-sm" %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <%= link_to_add_association "Add Climb", f, :individual_outdoor_climbs, data: { association_insertion_node: '.individual_outdoor_climbs tbody', association_insertion_method: :append }, class: "btn btn-primary mt-3" %>
                <%= link_to 'Delete', log_outdoor_climb_path(@log_climb), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mt-3" %>

                <%= f.submit "Save Climb", class: "btn btn-primary border-0 rounded-pill shadow p-3 mt-3" %>
            <% end %>
        </div>
        <!-- </div> -->
    </section>
</main>
