

<%# <%= link_to "Log new climbing session", new_log_outdoor_climb_url %> 
<main>
    <section class="py-5 text-left container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Previous Outdoor Climbing Sessions </h1>
          
          
          </p>
        

<% if user_signed_in? %>
  <ul>
    <%# <% @log_climbs = OutdoorClimbing.order(date: :desc) %> 
    
      <% @log_climbs.each do |log_climb| %>
        <li>
          <%= log_climb.date %> - <%= log_climb.location %> - <%= log_climb.climbing_type %>
          <%= link_to "Edit", edit_log_outdoor_climb_url(log_climb) %> 
          <%# <%= link_to 'Delete', log_climb, method: :delete %>
          <ul>
            <% if log_climb.individual_outdoor_climbs.present? %>
              <% log_climb.individual_outdoor_climbs.each do |individual_outdoor_climb| %>
                <li>
                  <%= individual_outdoor_climb.climb_name %> - <%= individual_outdoor_climb.grade %>
                </li>
              <% end %>
            <% else %>
              <li>No individual outdoor climbs logged for this session.</li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <p class="lead text-muted">Looks like you haven't logged any outdoor climbs,<br>
  <%= link_to "log a new climbing session here", new_log_outdoor_climb_path %></p>
          
       
  <br>
  <% else %>
    <p class="lead text-muted">Please sign in to see previous logged climbs.
    <%= link_to "Login", new_user_session_path %></p>
  <% end %>


</div>
      </div>