<main>
    <section class="py-5 text-left container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Previous Outdoor Climbing Sessions</h1>
                <br>
                <% if user_signed_in? %>
                <div class="text-center">
                    <%= link_to "Log a new climbing session here", new_log_outdoor_climb_path, class: "btn btn-secondary c-2" %>
                </div>
                <br>    <br>
                <form action="<%= filter_log_outdoor_climbs_path %>" method="get" class="mb-3">
                    <div class="input-group">
                        <select class="form-select" name="climbing_type">
                            <option value="all">All</option>
                            <option climbing_type="trad">Trad</option>
                            <option climbing_type="bouldering">Bouldering</option>
                            <option climbing_type="sport">Sport</option>
                        </select>
                        <button type="submit" class="btn btn-light">Filter</button>
                    </div>
                </form>

                
                  <% @log_climbs.where(user_id: current_user.id).each do |log_climb| %>
                    
                      <ul class="list-group">
                          <%# <% @log_climbs = OutdoorClimbing.order(date: :desc) %> 
                          <%# <% @log_climbs.each do |log_climb| %> 
                              <li class="list-group-item">
                                  <%= log_climb.date %> - <%= log_climb.location %> - <%= log_climb.climbing_type %>
                                  
                                  <%= button_to "Delete", log_outdoor_climb_path(log_climb), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,class: "btn btn-light btn-sm float-end mx-2" %>
                                  <%= link_to "Edit", edit_log_outdoor_climb_url(log_climb), class: "btn btn-light btn-sm float-end mx-2" %> 
                                  
                                  <%# <%= link_to 'Delete', log_climb, method: :delete %>
                                  <ul>
                                      <% if log_climb.individual_outdoor_climbs.present? %>
                                          <% log_climb.individual_outdoor_climbs.each do |individual_outdoor_climb| %>
                                              <li>
                                                  <%= individual_outdoor_climb.climb_name %> - <%= individual_outdoor_climb.grade %>
                                              </li>
                                          <% end %>
                                      <% else %>
                                          <li>No individual outdoor climbs logged for this session.</li>
                                      <% end %>
                                  </ul>
                              </li>
                              
                          <%# <% end %> 
                      </ul>
                      <%# <p class="lead text-muted">Looks like you haven't logged any outdoor climbs,<br> %>
                      </p>
                      <%end%>
                <% else %>
                    <p class="lead text-muted">Please sign in to see previous logged climbs.<br>
                        <%= link_to "Login", new_user_session_path, class: "btn btn-dark c-2" %></p>
                <% end %>

            
            </div>
        </div>
    </section>
</main>

