

<%# <%= link_to "Log new climbing session", new_log_outdoor_climb_url %> 

<h1>Previous Outdoor Climbing Sessions</h1>

<% if user_signed_in? %>
  <ul>
    <%# <% @log_climbs = OutdoorClimbing.order(date: :desc) %> 
    
      <% @log_climbs.each do |log_climb| %>
        <li>
          <%= log_climb.date %> - <%= log_climb.location %> - <%= log_climb.climbing_type %>
          <%= link_to "Edit", edit_log_outdoor_climb_url(log_climb) %>
          <%# <%= link_to 'Delete', log_climb, method: :delete %>
          <ul>
            <% if log_climb.individual_outdoor_climbs.present? %>
              <% log_climb.individual_outdoor_climbs.each do |individual_outdoor_climb| %>
                <li>
                  <%= individual_outdoor_climb.climb_name %> - <%= individual_outdoor_climb.grade %>
                </li>
              <% end %>
            <% else %>
              <li>No individual outdoor climbs logged for this session.</li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

  <%= link_to "Log new climbing session", new_log_outdoor_climb_path %><br>
  <% else %>
    <p>Please sign in to see previous logged climbs.</p>
    <%= link_to "Login", new_user_session_path %>
  <% end %>


