<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('saveClimbButton').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default form submission
      
      // Submit the climbing session form
      document.getElementById('log_climb_form').submit();

      // Submit the image upload form
      document.getElementById('image_upload_form').submit();
    });
  });
</script> %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Log a new Outdoor Climbing Session </h1>
          
          
          </p>




          <% if user_signed_in? %>
            <%= form_with(model: @log_climb, url: log_outdoor_climbs_path, local: true, multipart: true) do |f| %>

            <%# <%= form_with(model: @log_climb, url: log_outdoor_climbs_path, id: "log_climb_form") do |f| %> 

              <div class="field">
                <%= f.label :date, 'When did you go climbing?' %>
                <%= f.date_field :date %>
              </div>
              <br>
              <div class="field">
                <%= f.label :climbing_type, 'Select Climbing Style' %>
              <%= f.select :climbing_type, ['Sport', 'Trad', 'Bouldering'], {}, class: 'form-control' %>
              <br>
              </div>

              <div class="field">
                <%= f.label :location, 'Where did you go climbing?' %>
                <p> e.g. Stanage Plantation, Peak District, UK </p>
                <%= f.text_area :location, rows: 2, style: "width: 80%;" %> <!-- Added inline style for width -->
              </div>

                <br>
              <div class="field">
                <%= f.label :main_image, 'Upload an image' %>
                <%= f.file_field :main_image %>
              </div>
              <br>
              <%= link_to_add_association "Add a climb", f, :individual_outdoor_climbs, data: {association_insertion_node: '.individual_outdoor_climbs', association_insertion_method: :append} ,class: "btn btn-light btn-sm mx-2" %>
                

              <div class="individual_outdoor_climbs">
                  <%= f.fields_for :individual_outdoor_climbs do |individual_outdoor_climb| %>
                  <%= render partial 'individual_outdoor_climb_fields', f: individual_outdoor_climb %>
              
            <% end %>
                </div>
                <br>
      
      <%# <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">

                    <%= form_with(model: @log_climb, local: true, html: { multipart: true }, id: "image_upload_form") do |form| %>

                    <%# <div class="form-group">
                        <%= form.label :main_image %>
                        <%# <%= form.file_field :main_image %> 
                    <%# </div> %> 
                    
                    <%# <%= f.submit "Upload", class: "btn btn-primary" %> 

                    <%# <% end %>  



           <%# <%= f.submit "Save Climb", class: "btn btn-dark mt-3" %> 
      
      <br>
      <br>

      <%= f.submit "Save Climb", class:"btn-primary border-0 rounded-pill shadow p-3", id: "saveClimbButton" , style:"background-color:#5b52bc; border-color:#5b52bc; color: white;" %>
      
      <br><br>
      <%= link_to "Back", :back, class: "btn btn-secondary" %>

    

    <% end %>

    <%else%>
    <p>Please login to see log new climbs.</p>
    <%= link_to "Login", new_user_session_path , style:"background-color:#5b52bc; border-color:#5b52bc; color: white;" %>
    
  <% end %>
  <br>

  <%# <div>
          <ul>
            <li>Mod</li>
            <li>Diff</li>
            <li>VD</li>
            <li>HVD</li>
            <li>S</li>
            <li>HS</li>
            <li>VS</li>
            <li>HVS</li>
            <li>E1</li>
            <li>E3</li>
            <li>E4</li>
            <li>E5</li>
            <li>E6</li>
            <li>E7</li>
            <li>E8</li>
            <li>E9</li>
            <li>E10</li>
            <li>E11</li>
            <!-- Add more valid trad grades as needed -->
          </ul>

          </div> %>

 
</div>








</p>
        </div>
      </div>
    </section>

