<h1>Log Outdoor Climbing Session</h1>
<%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %><br>

   <%= link_to 'Home', new_user_session_path =%>



<%= form_with(model: @log_climb, url: log_outdoor_climbs_path) do |f| %>
  <div class="field">
    <%= f.label :date, 'When did you go climbing?' %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label 'What type of climbing did you do?' %><br>
    <%= f.check_box :sport %> Sport Climbing<br>
    <%= f.check_box :trad %> Trad Climbing<br>
    <%= f.check_box :bouldering %> Bouldering<br>
  </div>

  <div class="field">
    <%= f.label :location, 'Where did you go climbing?' %>
    <%= f.text_field :location %>
  </div>
  




  <div class="individual_outdoor_climbs">
    <%= f.fields_for :individual_outdoor_climbs do |individual_outdoor_climb| %>
    <%= render partial 'individual_outdoor_climb_fields', f: individual_outdoor_climb %>
  
  <% end %>
</div>
<%= link_to_add_association "add climb", f, :individual_outdoor_climbs, data: {association_insertion_node: '.individual_outdoor_climbs', association_insertion_method: :append} %>
    


<%= f.submit "Save Climb", class:"btn-primary border-0 rounded-pill shadow p-3" %>
<% end %>
<br>


<h1>Previous Outdoor Climbs</h1>
  <% if @log_climbs.present? %>
  
    <ul>
      <% @log_climbs.each do |log_climb| %>
        <li><%= log_climb.date %> - <%= log_climb.location %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No previous climbs logged.</p>
  <% end %>

