<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Log a new Outdoor Climbing Session </h1>
          
          
          </p>




<% if user_signed_in? %>
  
  <%= form_with(model: @log_climb, url: log_outdoor_climbs_path) do |f| %>
    <div class="field">
      <%= f.label :date, 'When did you go climbing?' %>
      <%= f.date_field :date %>
    </div>
    <br>
    <div class="field">
      <%= f.label :climbing_type, 'Select Climbing Style' %>
    <%= f.select :climbing_type, ['Sport', 'Trad', 'Bouldering'], {}, class: 'form-control' %>
    <br>
    </div>

    <div class="field">
      <%= f.label :location, 'Where did you go climbing?' %>
      <%= f.text_field :location %>
    </div>



    <div class="individual_outdoor_climbs">
          <%= f.fields_for :individual_outdoor_climbs do |individual_outdoor_climb| %>
          <%= render partial 'individual_outdoor_climb_fields', f: individual_outdoor_climb %>
    
          <% end %>
      </div>
      <br>
      <%= link_to_add_association "Add a climb", f, :individual_outdoor_climbs, data: {association_insertion_node: '.individual_outdoor_climbs', association_insertion_method: :append} %>
      
<br>
      <%= f.submit "Save Climb", class:"btn-primary border-0 rounded-pill shadow p-3" %>


    <% render 'image/new'%>

    <% end %>

    <%else%>
    <p>Please login to see log new climbs.</p>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  <br>





</p>
        </div>
      </div>
    </section>