<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('saveClimbButton').addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default form submission
      
      // Submit the climbing session form
      document.getElementById('log_climb_form').submit();

      // Submit the image upload form
      document.getElementById('image_upload_form').submit();
    });
  });
</script> %>

<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Log a new Outdoor Climbing Session </h1>
          
          
          </p>




<% if user_signed_in? %>
  <%= form_with(model: @log_climb, url: log_outdoor_climbs_path, local: true, multipart: true) do |f| %>

  <%# <%= form_with(model: @log_climb, url: log_outdoor_climbs_path, id: "log_climb_form") do |f| %> 

    <div class="field">
      <%= f.label :date, 'When did you go climbing?' %>
      <%= f.date_field :date %>
    </div>
    <br>
    <div class="field">
      <%= f.label :climbing_type, 'Select Climbing Style' %>
    <%= f.select :climbing_type, ['Sport', 'Trad', 'Bouldering'], {}, class: 'form-control' %>
    <br>
    </div>

    <div class="field">
      <%= f.label :location, 'Where did you go climbing?' %>
      <%= f.text_field :location %>
    </div>

      <br>
  <div class="field">
    <%= f.label :main_image, 'Upload an image' %>
    <%= f.file_field :main_image %>
  </div>
    <br>
    <%= link_to_add_association "Add a climb", f, :individual_outdoor_climbs, data: {association_insertion_node: '.individual_outdoor_climbs', association_insertion_method: :append} ,class: "btn btn-light btn-sm mx-2" %>
      

    <div class="individual_outdoor_climbs">
          <%= f.fields_for :individual_outdoor_climbs do |individual_outdoor_climb| %>
          <%= render partial 'individual_outdoor_climb_fields', f: individual_outdoor_climb %>
    
          <% end %>
      </div>
      <br>
      
      <%# <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">

                    <%= form_with(model: @log_climb, local: true, html: { multipart: true }, id: "image_upload_form") do |form| %>

                    <%# <div class="form-group">
                        <%= form.label :main_image %>
                        <%# <%= form.file_field :main_image %> 
                    <%# </div> %> 
                    
                    <%# <%= f.submit "Upload", class: "btn btn-primary" %> 

                    <%# <% end %>  



           <%# <%= f.submit "Save Climb", class: "btn btn-dark mt-3" %> 
      
<br>
<br>

      <%= f.submit "Save Climb", class:"btn-primary border-0 rounded-pill shadow p-3", id: "saveClimbButton" %>
      

    

    <% end %>

    <%else%>
    <p>Please login to see log new climbs.</p>
    <%= link_to "Login", new_user_session_path %>
    
  <% end %>
  <br>





</p>
        </div>
      </div>
    </section>

