
<main>
    <section class="py-5 text-left container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Sign Up</h1>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mt-4") do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="mb-3">
                        <%= f.label :email, class: "form-label" %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>

                    <div class="mb-3">
                        <%= f.label :password, class: "form-label" %>
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %>
                        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                    </div>

                    <div class="mb-3">
                        <%= f.label :password_confirmation, class: "form-label" %>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                    </div>

                    <div class="d-grid">
                        <%= f.submit "Sign up", class: "btn btn-secondary" %>
                    </div>
                <% end %>

                <%= render "devise/shared/links" %>
            </div>
        </div>
    </section>
</main>










<%# <%= link_to "Log new climbing session", new_log_outdoor_climb_url %> 
<%# <main>
    <section class="py-5 text-left container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Sign Up </h1>
           %>
          

<%# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%# <%= render "devise/shared/error_messages", resource: resource %> 

  <%# <div class="field">
    <%= f.label :email %>
    <%# <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <%# </div> %> 

  <%# <div class="field">
    <%= f.label :password %>
    <%# <% if @minimum_password_length %> 
    <%# <em>(<%= @minimum_password_length characters minimum)</em> %>
    <%# <% end %> 
    <%# <%= f.password_field :password, autocomplete: "new-password" %> 
  <%# </div> %> 

  <%# <div class="field">
    <%= f.label :password_confirmation br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password"
  </div> %>

  <%# <div class="actions">
    <%= f.submit "Sign up" %>
  <%# </div> %>
<%# <% end %> 

<%# <%= render "devise/shared/links" %> 


<%# <%= link_to "Log new climbing session", new_log_outdoor_climb_url %> 