
<h1>Home</h1>

<%= link_to 'Log Outdoor Climbing Session', new_user_session_path %> <br>

<%= link_to 'Log Indoor Climbing Session', new_user_session_path %> <br>

<%= link_to 'Log Training Session', new_user_session_path %> <br>

<%= link_to 'Use the Timer', new_user_session_path %> <br>

<! <%= link_to 'Sign in', new_user_session_path %>>

