<%# <h1><%= @image.title %
<%= image_tag @image.image.url if @image.image? %>

<%# <% if user_signed_in? %>
  <%# <% @log_climbs.where(user_id: current_user.id).each do |climb| %>

    <%# <p>Climb: <%= climb.location </p> %>
    <%# <p>Date: <%= climb.date </p> %>

    <%# <% climb.images.each do |image| %> 
      <%# <%= image_tag @image.image.url if @image.present? %> 
    <%# <% end %> 

  <%# <% end %> 
<%# <% end %>

<%# <div class="image">
  <% @images.each do |image_path| %>
    <%# <%= image_tag image_path.gsub("#{Rails.root}/public/uploads/", '') %> 
    
  <%# <% end %> 
<%# </div> %> 


<div class="image-grid">
  <% @images.each do |image_path| %>
    <%= image_tag "/uploads#{image_path.gsub("#{Rails.root}/public/uploads", '')}" %>
  <% end %>
</div>

<%= link_to 'Back', root_path %>