<!DOCTYPE html>
<title>Gripped Climbing App</title>
<html>
<body>
   <%= render '/shared/navbar' %>
   <br>
    <%= content_tag :div, notice, class: "alert alert-success text-center", style: "background-color: #7e77ca; color: white;" if notice %>
<%= content_tag :div, alert, class: "alert alert-danger text-center", style: "background-color: #ff8675; color: white;" if alert %>

    
  </body>

   <%= javascript_include_tag "jquery" %>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_importmap_tags %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
   

 </head>

 <%= yield %>

</html>

