<!DOCTYPE html>
<html lang="en">

<title>GrippedClimbingApp</title>
<meta name="description" content="Capture every exhilarating ascent and conquer new heights with our cutting-edge climbing journal app. Log your climbs, track progress, and connect with a community of passionate climbers. Elevate your climbing experience today!">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
   <%= render '/shared/navbar' %>
   <br>
    <%= content_tag :div, notice, class: "alert alert-success text-center", style: "background-color: #7e77ca; color: white;" if notice %>
<%= content_tag :div, alert, class: "alert alert-danger text-center", style: "background-color: #ff8675; color: white;" if alert %>

    
  </body>

   <%= javascript_include_tag "jquery" %>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_importmap_tags %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 </head>

 <%= yield %>

</html>

