<!DOCTYPE html>
<html>


   <%= javascript_include_tag "jquery" %>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_importmap_tags %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
 </head>



</html>
<body>
   <%= render '/shared/navbar' %>
   <br>
    <%= content_tag :div, notice, class: "alert alert-success text-center" if notice %>
    <%= content_tag :div, alert, class: "alert alert-danger text-center" if alert %>  
     <%= yield %>
  </body>
